body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #aa988c;
  color: #333;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.secao {
  background-color: #ece3dd;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}


.imagem-hobbies {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 20px auto;
  border-radius: 8px;
}

video {
  display: block;
  margin: 20px auto;
  border: 2px solid #000000;
  border-radius: 8px;
}
  li a {
  color: #333;
  line-height: 1.6;
  box-sizing: border-box;
  box-shadow: #ffffff;

}
