
body {
  background-color: #f4f4f4;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  background-color: #3a156e;
  color: white;
  padding: 30px 0;
}

.topo {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 1rem;
}
nav li {
    display: inline;
    padding: 0 20px;
}


.container {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  border-radius: 15px;
  width: 90%;
  max-width: 500px;
  margin-top: 180px;
  padding: 30px 25px;
  text-align: center;
}

.h2 {
  margin-bottom: 25px;
  color: #222;
  font-size: 1.1rem;
}


.opcoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.btn {
  border: none;
  padding: 18px;
  color: white;
  font-size: 0.95rem;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}


.vermelha {
  background-color: #b12826;
}
.azul {
  background-color: #1e79c9;
}
.amarela {
  background-color: #dbc048;
  color: #222;
}
.verde {
  background-color: #0b7c10;
}

.btn:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

